{% extends 'base.html.twig' %}

{% block title%}
    {% if is_granted("ROLE_ADMIN")%}
    Hello {{app.user.username}}!
    {%else%}
    Hello!
    {%endif%}
{% endblock %}

{% block body %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow ">
        <div >
            <a class="navbar-brand col-md-2 col-lg-2 me-0 px-3" href="#">
                <img src="{{ asset('build/images/app_logo.png') }}"
                width="45"
                height="45"/>
            </a>
            <a class="navbar-brand col-md-2 col-lg-2 me-0 px-3" href="http://internship-project.local/admin" >Waist Management</a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link px-3" href="{{ logout_path('admin') }}">Sign Out</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container-fluid" id="mainContainer">
        <div class="row" >
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://internship-project.local/admin">
                                <span data-feather="home"></span>
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="http://internship-project.local/admin/users">
                                <span data-feather="users"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://internship-project.local/admin/analytics/accounts">
                                <span data-feather="shopping-cart"></span>
                                New Accounts Created - Pie
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://internship-project.local/admin/analytics/admin">
                                <span data-feather="shopping-cart"></span>
                                Number Of Admin Logins
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://internship-project.local/admin/reports/busiest-day">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Admin Dashboard</h1>
                </div>

            </main>
        </div>
    </div>
{% endblock %}