body {
  background: url('../../images/gym_background.jpg');
  background-size: cover;
  //display: flex;
  //align-items: center;
  //padding-top: 200px;
  //padding-bottom: 40px;
  background-color: #f5f5f5;
}
.text-center {
  text-align: center!important;
}
